.topic {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
    color: white;

    &__title, &__desc {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
    }

    &__desc {
        margin-top: 7px;
    }
}
