@import "../../Style/variable";

.btn {
    display: inline-block;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    line-height: 1.81;
    padding: 8px 32px;

    color: white;
    background: $color-main;
    box-shadow: 0 0 20px 0 transparent;
    border-radius: 3px;

    transition: all 0.2s;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 10px 20px 0 transparentize($color-main, 0.6);
    }

    &:active {
        transform: translateY(0);
    }

    &.-white {
        background: white;
        color: $color-primary;
        &:hover {
            box-shadow: 0 10px 20px 0 transparentize(white, 0.6);
        }
    }

    &.-outline {
        color: $color-main;
        line-height: 1.2;
        font-size: 12px;
        font-weight: 500;
        background: transparent;
        border: 1px solid $color-main;
        text-transform: none;
        padding: 4px 8px;
    }

    &.-light {
        line-height: 1.41;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 12px;
        font-weight: 500;
        background: transparent;
        border: none;
        text-transform: none;

        &:hover {
            text-decoration: underline;
            box-shadow: none;
        }
    }

    &.-full-size {
        display: block;
        width: 100%;
    }

    &:disabled {
        opacity: 0.5;
        box-shadow: none;
        cursor: default;
        transform: none !important;
    }

    &.-loading {
        opacity: 1;

        & .dot-loader {
            display: inline-block;
            line-height: 1.41;
            &__dot {
                color: white;
                $dot-size: 8px;

                width: $dot-size;
                height: $dot-size;
                border: 1px solid white;
                margin: 0 ($dot-size / 2);
            }
        }
    }

    & + & {
        margin-left: 20px;
    }
}