.value-snippet {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;

    &__title {
        text-transform: uppercase;
        color: $color-dark;
        font-weight: 500;
    }

    &__coin {
        font-size: 18px;
        color: $color-main;
    }

    &__fiat {
        color: $color-green;
    }

    &.-right {
        text-align: left;
    }

    &.-left {
        text-align: right;
    }
}