.exchange {

    &-sides {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-side {
        background: white;
        border-radius: 3px;
        height: 270px;
        width: 215px;
    }
}
