.legal {
    &__content {
        color: $color-dark;
        font-size: 12px;
        line-height: 1.5;

        p {
            margin: 3px 0 15px 0;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 500;
            margin: 30px 0 20px 0;
        }

        h3 {
            font-weight: 500;
        }

        strong, b {
            font-weight: 500;
        }

        a {
            text-decoration: underline;
            cursor: pointer;
            color: $color-sub-main;
        }

        ul {
            margin: 20px 0;
            li {
                padding: 0 0 0 30px;
                display: block;
                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    border-radius: 3px;
                    background-color: $color-main;
                    left: 12px;
                    top: 9px;
                }
            }
        }
    }
}
