.tx {
    &-popup {
        width: 460px;

        &__direction {
            fill: white;
            &-wrapper {
                &.-up {
                    background: $color-green;
                }
                &.-down {
                    background: $color-red;
                }

                width: 20px;
                height: 20px;
                padding: 2px 0;
                border-radius: 3px;
                margin: 0 auto 13px auto;
                display: block;
                text-align: center;
            }
        }

        &__title, &__subtitle {
            text-align: center;
        }

        &__title {
            font-size: 18px;
            font-weight: 500;
        }

        &__subtitle {
            font-size: 12px;
            display: block;
        }

        &-card {
            width: 100%;
            margin-top: 30px;
        }
    }

    &-info {
        &-item {
            display: flex;
            line-height: 24px;
            margin: 4px 0;
            padding: 0;

            &__title {
                font-weight: 500;
                width: 110px;
            }

            &__value {
                width: 310px;
                position: relative;
                font-weight: normal;
            }
        }

        &-copied {
            width: 162px;
            position: absolute;
            top: 70px;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
        }

        &-copy-txid {
            position: absolute;
            right: 0;
            top: 0;
        }

        &-confirmations {
            display: inline-block;
            margin-right: 8px;
        }
    }

    &-row {

        justify-content: flex-start;

        &__time {
            font-weight: 500;
            width: 75px;
            text-align: right;
        }

        &__direction {
            &.-up {
                fill: $color-green;
            }

            &.-down {
                fill: $color-red;
            }

            &-wrapper {
                width: 20px;
                margin: 0 10px 0 0;
                display: block;
                text-align: center;
            }
        }

        &__badge {
        }

        &__amount {
            font-weight: 500;
            color: $color-dark;

            width: 100px;
        }

        &:hover &__time,
        &:hover &__amount {
            color: $color-primary;
        }
    }
}