.alert {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 41px;

    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border-radius: 3px;
    display: block;
    top: 10px;

    &.-warning {
        color: $color-dark;
        background: $color-yellow;
    }

    &.-success {
        color: white;
        background: $color-green;
    }

    &.-animation {
        &-enter {
            opacity: 0.01;
            transform: translateY(-12px);
            &.-animation-enter-active {
                opacity: 1;
                transform: translateY(0);
            }
        }
        &-leave {
            opacity: 1;
            transform: translateY(0);
            &.-animation-leave-active {
                opacity: 0.01;
                transform: translateY(-12px);
            }
        }
    }

    &-container {
        z-index: 99999;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        opacity: 0;
        height: 0;

        &.-active {
            opacity: 1;
            height: 51px;
        }
    }

    &, &-container {
        transition: all 0.4s;
    }
}