.dot-loader {
    $animation-speed: 800ms;
    $dot-size: 6px;

    @mixin animation($delay: 0ms) {
        animation: fx #{$animation-speed} ease infinite $delay;
    }

    &__dot {
        width: $dot-size;
        height: $dot-size;
        border: ($dot-size / 5) solid $color-main;
        margin: 0 ($dot-size / 2);

        border-radius: 50%;
        float: left;
        transform: scale(0);

        @include animation();

        &:nth-child(2) {
            @include animation($animation-speed * 0.3);
        }
        &:nth-child(3) {
            @include animation($animation-speed * 0.6);
        }
    }

    @keyframes fx {
        50% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}



