.mnemonic {
    margin: 32px auto;
    width: 340px;
    height: 98px;
    background: white;
    border: 1px solid $color-grey-l;
    border-radius: 3px;

    &__textarea {
        width: 100%;
        height: 98px;
        display: block;
        border: none;
        background: transparent;
        color: $color-dark;
        padding: 20px 22px;
        resize: none;
        line-height: 1.42;

        @include placeholder {
            color: $color-grey;
        }
    }

    &-correct {
        transition: all 0.2s;

        position: absolute;
        bottom: 4px;
        right: 4px;
        color: white;
        line-height: 24px;
        background: $color-green;
        border-radius: 3px;
        padding: 0 6px;
        text-align: center;
        vertical-align: middle;

        &__tick {
            display: inline-block;
            height: 10px;
            vertical-align: middle;
        }

        opacity: 0;
        visibility: visible;

        &.-show {
            opacity: 1;
            visibility: visible;
        }
    }
}
