.row {
    transition: all 0.2s;
    background: white;
    border-radius: 3px;
    padding: 6px 10px;
    margin-bottom: 5px;
    height: 44px;
    font-size: 14px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        margin-left: -5px;
        margin-right: -5px;
        width: 310px;
        padding-left: 15px;
        padding-right: 15px;
        color: $color-primary;
    }

    &:active {
        transform: scale(0.95);
    }
}