.address-info {
  flex-direction: column;
  &.modal-content > .title {
    margin-bottom: 0;
  }

  &-wrapper {
    margin-top: 30px;
    display: flex;
  }
}

.info-card {

  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.4s;
  width: 100%;

  &.-flip {
    transform: rotateY(180deg);
  }

  &-container {
    height: 200px;
    width: 200px;
    perspective: 600px;
    position: relative;

    margin: 0 10px;
  }

  &-side {
    transition: all 0.4s;
    backface-visibility: hidden;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    overflow: hidden;

    visibility: hidden;
    opacity: 0;

    &.-is-open {
      visibility: visible;
      opacity: 1;
    }

    @include block-shadow;
    color: $color-dark;
    padding: 20px;

    &__qr {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      & canvas {
        display: block;
      }
    }

    &__title {
      text-transform: uppercase;
      color: $color-primary;
      font-weight: 500;
      font-size: 12px;

      width: 100%;
      display: block;
      text-align: center;
      line-height: 24px;
    }

    &__value {
      width: 100%;
      background: none;
      border: none;
      padding: 0;
      height: 88px;
      resize: none;
      text-align: center;
      margin-top: 20px;

      font-weight: 400;
      font-size: 14px;
    }

    &__back-button {
      transition: all 0.2s;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 16px;
      cursor: pointer;
      fill: $color-primary;
      &:hover {
        fill: $color-main;
      }
    }

    &__buttons {
      margin-top: 8px;
      text-align: center;
    }

    &-button {
      transition: all 0.2s;
      cursor: pointer;
      margin: 0 10px;

      fill: $color-dark;
      &:hover {
        fill: $color-main;
      }
    }

    &.-back {
      transform: rotateY(180deg);
    }
  }
}