.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;

    &-close {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 103;
        display: block;

        width: 30px;
        height: 30px;
        background: white;
        border-radius: 30px;
        cursor: pointer;

        &:before, &:after {
            transition: all 0.2s;
            content: '';
            position: absolute;
            display: block;
            width: 14px;
            height: 3px;
            border-radius: 4px;
            background: $color-primary;
            top: 14px;
            left: 8px;
        }

        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }

        &:hover {
            &:before, &:after {
                background: $color-main;
            }
        }
    }

    &-overlay {
        z-index: 101;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        opacity: 0.9;
        background-image: linear-gradient(-46deg, $color-bg-start 0%, $color-bg-end 100%);
    }

    $selector-content: #{&}-content;

    &-content {
        z-index: 102;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-special-link {
        position: absolute;
        display: inline-block;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        color: white;
        cursor: pointer;
        background: none;
        border: none;

        &:hover {
            text-decoration: underline;
        }

        &.-inverse {
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    &, &-content, &-overlay, &-error, &-close {
        transition: all 0.4s;
    }

    &.-animation {
        &-enter {
            opacity: 0.01;

            #{$selector-content} {
                transform: scale(0.8);
            }

            &.-animation-enter-active {
                opacity: 1;
                #{$selector-content} {
                    transform: scale(1);
                }
            }
        }

        &-leave {
            opacity: 1;
            #{$selector-content} {
                transform: scale(1);
            }
            &.-animation-leave-active {
                opacity: 0.01;
                #{$selector-content} {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.success {
    &-topic {
        margin-bottom: 60px;
    }
    &-icon {
        height: 24px;
        width: 36px;
        fill: $color-green;
        &-wrapper {
            height: 24px;
            text-align: center;
            margin: 24px auto;
        }
    }
}

@import "./passcode";
@import "./stack-card";