.modal-exchange {
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    &__icon {
        fill: white !important;
        margin-bottom: 16px;
    }

    &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        margin-bottom: -24px;

        &-separator {
            margin: 0 16px;
        }

        &__card {
            width: 184px;
            height: 108px;

            &-total.exchange-total {
                margin-top: 8px;
            }

            &-coin {
                position: absolute;
                display: flex;
                align-items: center;
                flex-direction: row;
                top: 10px;
                padding: 0 4px;
                left: 0;
                font-weight: 600;

                &.-right {
                    flex-direction: row-reverse;
                    left: auto;
                    right: 0;
                }

                & > .coin-icon-wrapper {
                    margin: 0 6px;
                }
            }
        }
    }
}