@import "~style/variable";

.exch-select {
    position: relative;
    z-index: 10;

    &__current {
        transition: all 0.4s;
        border-bottom: 1px solid $color-grey;
        cursor: pointer;
        z-index: 12;
        background: white;
        &-arrow {
            position: absolute;
            right: 10px;
            top: 10px;
        }

        &:hover {
            border-bottom-color: $color-primary;
        }
    }

    &.-open {
    }

    &__units {
        &, &-wrapper {
            transition: all 0.4s;
        }

        position: absolute;

        left: 0;
        right: 0;
        top: 40px;
        z-index: 11;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        padding-bottom: 10px;

        .-open > & {
            visibility: visible;
            opacity: 1;
        }

        &-wrapper {
            transform: translateY(-100%);
            box-shadow: 0 1px 3px 0 $color-grey;
            background: white;
            border-radius: 0 0 3px 3px;

            max-height: 190px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .-open &-wrapper {
            transform: translateY(0);
        }
    }

    &__unit {
        transition: transform 0.4s;
        transform: translateX(0);
        cursor: pointer;
        &:hover {
            transform: translateX(-5px);
        }
    }
}

.coin-unit {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px 10px;

    &-title {
        margin-left: 10px;
    }

    &__name, &__value {
        display: block;
        line-height: 15px;
    }

    &__name {
        font-size: 14px;
        font-weight: bold;
    }

    &__value {
        font-size: 14px;
        color: $color-dark;

        &-fiat {
            color: $color-grey;
        }
    }
}