.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 10px;

  @include walletLayoutSize;

  padding: 0;
  font-weight: 500;
  color: white;
  opacity: 0.5;

  &__label {
    text-align: center;
    width: 86px;
    margin: 0 auto;
    line-height: 1;
  }

  &__currencies {
    text-align: center;
    margin-bottom: 4px;
    & .coin-icon {
      display: inline-block;
      width: 16px;
      height: 16px;
      fill: white;
      margin: 0 3px;
    }
  }
}