$weight: 600px;
$height: 400px;

$color-main: #FF3974;
$color-primary: #630FCD;

$color-bg-start: #B224EF;
$color-bg-end: #630FCD;

$color-green: #2AC062;
$color-red: #FF0066;
$color-yellow: #FFAE00;
$color-dark: #333333;
$color-grey: #A0A4B8;
$color-light: #F8FAFB;

$color-grey-d: #959DB5;
$color-grey-l: #D1D5E2;
$color-grey-shadow: #CACEDB;

$color-input-border: #D8DDEF;
$color-input-background: #F7F8FC;

// Colors for coins

$color-coin-btc: #F7931A;
$color-coin-eth: #627EEA;
$color-coin-dash: #008DE4;
$color-coin-ltc: #CBC6C6;

$color-coins: (
        BTC: $color-coin-btc,
        LTC: $color-coin-ltc,
        DASH: $color-coin-dash,
        ETH: $color-coin-eth,

        BTCt: $color-main,
        ETHt: $color-main,
        DASHt: $color-main,
        LTCt: $color-main
);

// Colors for Social Networks

$color-facebook: #39579A;
$color-twitter: #1EA0F3;
$color-telegram: #2AA1D4;
$color-github: #161514;
$color-bitcointalk: #F7931A;

$colors-social: (
        facebook: $color-facebook,
        twitter: $color-twitter,
        telegram: $color-telegram,
        github: $color-github,
        bitcointalk: $color-bitcointalk
)