@import "~style/variable";

.exchange {
    &-form {
        display: block;
        position: relative;
        height: 380px;
    }

    &-sides {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-side {
        background: white;
        border-radius: 3px;
        height: 270px;
        width: 215px;

        &__head {
            color: $color-dark;
            font-weight: 500;
            font-size: 14px;
            line-height: 40px;
            text-transform: uppercase;
            text-align: center;
        }

        &__content {
            padding: 10px;
        }
    }

    &-total {
        margin-top: 24px;
    }

    &-footer {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;

        &-side {
            transition: all 0.4s;
            opacity: 0.5;

            color: white;
            font-weight: 500;
            &.-right {
                text-align: right;
            }

            &:hover {
                opacity: 0.95;
            }
        }
    }
}

.split-case {
    border: 1px solid $color-input-border;
    background: $color-input-background;
    width: 100%;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 14px;

    &:hover {
        border: 1px solid $color-primary;
    }

    &:hover &__input-symbol {
        color: $color-primary;
    }

    &-separator {
        height: 1px;
        width: 100%;
        background: $color-input-border;
        margin: 0;
    }

    &__input {
        background: none;
        border: none;
        padding: 1px 0 0 0;
        width: 100%;
        height: 20px;
        color: $color-dark;
        font-weight: 500;

        &-wrapper {
            padding: 9px 0;
            display: block;
            position: relative;
            width: 100%;
            margin: 0;
            height: 38px;
        }

        &-symbol, &-dummy {
            position: absolute;
            top: 0;
            line-height: 38px;
            display: inline-block;
        }

        &-symbol {
            right: 0;
        }

        &-dummy {
            left: 0;
            color: $color-dark;
        }
    }

    &,
    &__input-symbol {
        transition: all 0.4s;
    }
}