.options {

}

.page {
    &-wrapper {
        display: flex;
    }

    &-nav {
        transition: all 0.4s;
        display: block;
        height: 380px;
        width: 130px;

        transform: translateX(-110px);
        opacity: 0;

        &.-loaded {
            transform: translateX(0);
            opacity: 1;
        }

        &__item {
        }
    }

    &-content {
        margin-left: 10px;
        width: 300px;
    }
}

.title {
    font-size: 18px;
    text-align: center;
    color: $color-dark;
    font-weight: 500;
    padding: 10px 0;
}

.currency-option {
    &-head {
        background: white;
        border-radius: 3px;
        padding: 10px;
        height: 98px;
    }

    &-list {
        margin: 5px 0 0 -10px;
        padding-left: 10px;
        height: 287px;
        width: 340px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &-item {
        &__title {
            vertical-align: middle;
            font-size: 14px;
            font-weight: 500;

            & > b {
                color: $color-dark;
            }
        }

        &__coin-icon {
            display: inline-block !important;
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    &-search {
        height: 42px;
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 1;

        &__input {
            width: 100%;
            line-height: 32px;
            padding: 0 20px;
            z-index: 2;
        }

        &__icon {
            &.-active {
                fill: $color-primary;
            }
            &-wrapper {
                left: 0;
            }
        }

        &__clear {
            &-wrapper {
                right: 0;
                cursor: pointer;
                opacity: 0;
                visibility: hidden;
                &.-active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__icon, &__clear {
            height: 14px;
            width: 14px;
            fill: $color-grey;
            &-wrapper {
                position: absolute;
                z-index: 3;
                top: 14px;
            }
        }

        &__icon, &__clear, &__clear-wrapper {
            transition: all 0.4s;
        }
    }
}

.card {
    padding: 10px 20px;
    background: white;
    color: $color-dark;
    border-radius: 3px;

    &.-full-size {
        height: 380px;
    }

    &.-no-w-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.scroll-wrapper {
    width: 340px;
    overflow-y: scroll;
    overflow-x: hidden;

    margin: -10px 0;
    padding: 10px 0;
    height: 400px;

    & > .card {
        width: 300px;
    }
}

@import "./fee";